---
- name: "Neovim | {{ ansible_distribution }} | Downloading latest Neovim release"
  ansible.builtin.get_url:
    url: "https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.appimage"
    dest: /tmp
    mode: 0644
    force: true
  register: download_destination

- name: "Neovim | {{ ansible_distribution }} | Download Directory"
  ansible.builtin.debug:
    var: download_destination.dest

- name: "Neovim | {{ ansible_distribution }} | Remove previous installation"
  ansible.builtin.file:
      path: "/opt/nvim"
      state: absent
  become: true

- name: "Neovim | {{ ansible_distribution }} | Recreating directory for new installation"
  ansible.builtin.file:
      path: "/opt/nvim"
      state: directory
  become: true

- name: "Neovim | {{ ansible_distribution }} | Installing Neovim"
  ansible.builtin.copy:
    remote_src: true
    # This is a hard coded value, I cannot get the unzip directory from the unarchive method in order to set dynamically
    src: "{{ download_destination.dest }}"
    dest: "/opt/nvim/nvim"
    owner: "{{ host_user }}"
    group: "{{ host_user }}"
    mode: u+x
    force: true
  become: true
  register: copy_contents

# For now add the following manually to the .bashrc "export PATH="$PATH:/opt/nvim/"

- name: "Neovim | {{ ansible_distribution }} | Install directory"
  ansible.builtin.debug:
    var: copy_contents.dest

